*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

body{
    background: var(--body-color, #0A0A0B);
    color: aliceblue;
}

/* Navbar */

.navbar_text_imgikki{
padding-left: 91px;
}

/* car-funktion */

.car-funktion_title_h_div{
    padding-top: 152px;
    padding-left: 470px;
}
.car-funktion_title_h{
font-family: Exo;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: 140%;
}

.car-funktion_title_htor_div{
    padding-top: 20px;
    padding-left: 560px;
}
.funktion_title_htor{
font-family: Exo;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 140%;
}
.car-funktion_title_img_p_div{
    display: flex;
    padding-top: 8px;
    padding-left: 580px;
}
.car-funktion_title_p{
font-family: Exo;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%;
}

.car-funktion_img_div{
    padding-top: 48px;
    padding-left: 440px;
}
/* card info */

.car-funktion_info{
    display: flex;
    gap: 136px;
     padding-left: 400px;
    padding-top: 46px;
    
}
.car-funktion_info_bir_img_div{
    padding-left: 35px;
}
.car-funktion_info_bir_img{
width: 20px;
height: 20px;
flex-shrink: 0;
}
.car-funktion_info_bir_h_div{
    padding-top: 20px;
    padding-left: 30px;
}

.car-funktion_info_bir_h{
 font-family: Exo;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 140%;
}

.car-funktion_info_bir_p_div{
   padding-top: 4px;
}

.car-funktion_info_bir_p{
color: var(--text-color-light, #888B91);
font-family: Exo;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 140%;
}

.car-funktion_info_ikki_h_div{
    padding-top: 20px;
}
.car-funktion_info_ikki_p_div{
    padding-top: 4px;

}

.car-funktion_info_uch_h_div{
    padding-top: 20px;

}

.car-funktion_info_uch_p_div{
    padding-top: 4px;
}

/* car-funktion_start */
.car-funktion_start_div{
    padding-left: 610px;
    padding-top: 56px;
}

.car-funktion_start{
 width: 90px;
height: 90px;
flex-shrink: 0;
border-radius: 50px;
}

/* car menyu */

.car_menyu{
    padding-top: 98px;
}

.car_menyu_info{
    display: flex;
    gap: 88px;
}

.car_menyu_info_h_div{
    padding-top: 47px;
}
.car_menyu_info_img{
    width: 480px;
height: 320.141px;
flex-shrink: 0;
border-radius: 8px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.car_menyu_info_h{
font-family: Exo;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 140%;
}
.car_menyu_info_p_div{
    padding-top: 24px;
}
.car_menyu_info_p{
color: var(--text-color, #BABEC4);
font-family: Exo;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%;
}

.car_menyu_info_btn_div{
    padding-top: 48px;
}
.car_munyu_info_btn{
display: inline-flex;
padding: 14px 32px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
border-radius: 4px;
background: var(--first-color, #4177DC);

color: var(--white-color, #FFF);
font-family: Exo;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 140%;
}

/* Card model */

.Card_model{
    padding-top: 72px;
}

.card_model_title{
    padding-left: 420px;
}

.card_model_card{
    padding-top: 64px;
    display: flex;
    justify-content: center;
    gap: 48px;
}
.card_model_title_h{
 font-family: Exo;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 140%;
}

.card_model_cardbir_div{
    width: 258px;
height: 328px;
flex-shrink: 0;
border-radius: 20px;
background: var(--container-color, #111213);
}

.card_model_cardbir_text{
    padding-top: 32px;
    padding-left: 24px;
}

.card_model_cardbir_text_h{
 color: var(--title-color, #F1F2F3);
 font-family: Exo;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 140%;
}

.card_model_cardbir_text_p{
 color: var(--text-color, #BABEC4);
 font-family: Exo;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%;
}

.card_model_cardbir_img_div{
    padding-top: 12px;
    padding-left: 56px;
}

.card_model_cardbir_info{
    padding-top: 21px;
    padding-left: 24px;
    display: flex;
    gap: 20px;
}

.card_model_cardbir_info_bir{
    display: flex;
    gap: 4px;
}

.card_model_cardbir_info_bir_img{
    width: 16px;
height: 16px;
flex-shrink: 0;
}

.card_model_cardbir_info_bir_p{
 color: var(--white-color, #FFF);
font-family: Exo;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 140%; 
}

.card_model_cardbir_narxi{
    padding-top: 57px;
    padding-left: 24px;
}
.card_model_cardbir_sotish{
    display: flex;
    gap: 91px;
}
.card_model_cardbir_narxi_h{
    color: var(--white-color, #FFF);
font-family: Exo;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 140%;
}

.card_model_cardbir_sotibolish_div{
    padding-top: 56px;
    padding-left: 10px;
}
.card_model_cardbir_sotibolish{
display: inline-flex;
width: 56px;
height: 48px;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 20px 0px;
background: var(--first-color, #4177DC);
}

.card_model_uchnuqta_img{
    padding-top: 48px;
    padding-left: 620px;
}